@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,700;0,900;1,300;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0%;
    padding: 0%;
    border: 0;
}


body {
    scroll-behavior: smooth;
    --mainColor: #1E1711;
    font-family: 'Roboto Slab', serif;
    
}


/* header css */
@keyframes header-fade{
    0%{
        opacity: 0;
        transform: translateY(-200px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}

header {
    position: relative;
    width: 100%;
    height: 100px;
    animation: header-fade 2s ease-out;
}

#Header-Wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;

}

#Section-Left {
    position: relative;
    width: 100%;
    height: 90%;
    background: var(--mainColor);
    z-index: 12;
    clip-path: polygon(0 0, 80% 0, 75% 65%, 0 100%);

}

#Nav-Toggle{
    display: none;
}

nav {
    position: relative;
    width: 80%;
    height: 80%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-5%) rotate(-1.3deg);

}

nav>.nav-element {
    margin: 0 3vw;
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
}
nav>.nav-element>a{
    color: white;
    text-decoration: none;  
    transition-duration: scroll 2s;
}
nav>.nav-element>a:hover{
    border-bottom: solid 2px white;
}


#Section-Right {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 230%;
    background: #314F56;
    overflow: hidden;
    z-index: 11;
    clip-path: polygon(70% 10%, 100% 60%, 100% 67%, 70% 17%);
}
.sigla-box{
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 20px;
    width: 50px;
    height: auto;
    z-index: 99;
}

/* header css end */


/* content css */
/* general css (so I don't retype it to much) */
@keyframes content-fade{
    0%{
        opacity: 0;
        transform: translateY(1000px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}
.titleText {
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    font-weight: bolder;
    color: var(--mainColor);
}

.descriptionText {
    font-family: 'Roboto Slab', serif;
    font-size: 110%;
    color: var(--mainColor);
}

/* general css (so I don't retype it to much) end*/





.content {
    position: relative;
    width: 100%;
    height: auto;
    animation: content-fade 2s ease-out;
}

.content-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

/* Home css */
#Home {
    position: relative;
    width: 100%;
    height: 42vw;

}

#Home-Pictures-Wrapper {
    position: relative;
    top: 48%;
    left: 50%;
    width: 80%;
    height: 80%;
    z-index: 10;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture-container {
    position: absolute;
    top: 0;
    left: 85%;
    transform: translateX(-50%);
    width: 45%;
}
.p-c2{
    top: 15%; left: 50%;
}
.p-c3{
    top: 30%; left: 15%;
}
.picture-container>img{
    position: relative;
    width: 100%;
}

#Home-Design {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #B59780;
    clip-path: polygon(0 0, 100% 90%, 100% 100%, 0 100%);
    z-index: 9;
}

/* Home css end*/

/* About css */
#About {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 36px;

}

#About-Wrapper {
    position: relative;
    width: 95%;
    height: auto;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.about-title {
    position: relative;
    margin: auto;
    border-bottom: #1E1711 2px solid;
}

#About-Text-Wrapper {
    position: relative;
    margin-top: 25px;
}

.about-text {
    position: relative;
    text-align: center;
}

/* About css end */


/* Portfolio css */
#Portfolio {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 72px;
}

#Portfolio-Wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

#Portfolio-Description-Wrapper {
    position: relative;
    width: 95%;
    height: auto;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio-title {
    position: relative;
    margin: auto;
    border-bottom: #1E1711 2px solid;
}

#Portfolio-Text-Wrapper {
    position: relative;
    margin-top: 25px;
}

.portfolio-text {
    position: relative;
    text-align: center;
}

#Portfolio-Cards-Wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 365px;
    height: 500px;
    max-height: 500px;
    margin: 1%;
    border: solid var(--mainColor) 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', serif;
}
.card-image{
    width: 100%;
}
.card-image>img{
    width: 100%;
    height: auto;
}
.card-title{
    padding-top: 5px;
    font-weight: lighter;
    font-size: 180%;
    border-bottom: solid 1px black;
}
.card-description{
    margin-top: 22px;
    padding: 5px;
    text-align: center;
}
.card-button-wrapper{
    margin-top: auto;
    margin-bottom: 50px;
}
.card-button{
    font-size: 120%;
    display: inline-block;
    width: 100px;
    background: #314F56;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px; 
    margin: 0 5px; 
}
.card-button:nth-of-type(2){
    background: #B59780;
}
.card-button:hover{
    background: #B59780;
}
.card-button:nth-of-type(2):hover{
    background: #314F56;
}

/* Portfolio css end */

/*  Services css*/
#Services {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 72px;

}

#Services-Wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

#Services-Description-Wrapper {
    position: relative;
    width: 95%;
    height: auto;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-title {
    position: relative;
    margin: auto;
    border-bottom: #1E1711 2px solid;
}

#Services-Text-Wrapper {
    position: relative;
    margin-top: 25px;
}

.services-text {
    position: relative;
    text-align: center;
    margin: 20px 0;
}

#Services-Icons-Wrapper {
    position: relative;
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services-icon-box {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;
    
}
.services-icon-box>img{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

/*  Services css end*/

/* QuotesBox css */
@keyframes quoteFade-in-left{
    0%{
        opacity: 0;
        transform: translate(-70%, -50%);
    }
    100%{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
@keyframes quoteFade-in-right{
    0%{
        opacity: 0;
        transform: translate(-20%, -50%);
    }
    100%{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
#QuoteBox {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 250px;
}

#QuoteBox-Wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--mainColor);
    margin: auto;
    clip-path: polygon(10% 10%, 90% 0, 85% 100%, 15% 85%);
}

#QuoteText {
    position: absolute;
    width: auto;
    height: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    animation-name: quoteFade-in-left;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#QuoteAuthor {
    position: absolute;
    width: auto;
    height: auto;
    top: 75%;
    left: 76%;
    transform: translate(-50%, -50%);
    color: white;

    animation-name: quoteFade-in-right;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* QuotesBox css end */

/* ContactBox css */
#ContactBox {
    position: relative;
    width: 100%;
    margin: auto;
    
}

#ContactBox-Wrapper {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

#ContactBox-Main {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
}

#ContactBox-Main>#Contact {
    position: relative;
    bottom: 30px;
    width: 100%;
    height: 20vw;
    max-height: 200px;
    background: #D89F9F;
    clip-path: polygon(30.5% 0%, 80% 10%, 95% 45%, 70% 55%);
    color: var(--mainColor);
}

#ContactBox-Main>#Contact>div {
    position: absolute;
    left: 72%;
    top: 28%;
    transform: translate(-50%, -50%) rotate(3deg);
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}

#ContactBox-Secondary {
    position: relative;
    width: 50%;
}

#ContactBox-Secondary>button {
    position: absolute;
}

#ContactBox-Secondary>#Email {
    top: 14%;
    left: 38%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: calc(2vh + 2vw);
    max-height: 50px;
    clip-path: polygon();
    background: #D89F9F;
    
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 90%);
}
#ContactBox-Secondary>#Email:hover{
    background: #8a6565;

}
#ContactBox-Secondary>#Phone {
    top: 34%;
    left: 38%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: calc(2vh + 2vw);
    max-height: 50px;
    clip-path: polygon();
    background: #D89F9F;

    clip-path: polygon(0 20%, 100% 0%, 93% 100%, 0 90%);
}
#ContactBox-Secondary>#Phone:hover{
    background: #8a6565;
}
#ContactBox-Secondary>#Form {
    top: 54%;
    left: 38%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: calc(2vh + 2vw);
    max-height: 50px;
    clip-path: polygon();
    background: #D89F9F;

    clip-path: polygon(0 0, 90% 25%, 70% 100%, 0 90%);
}
#ContactBox-Secondary>#Form:hover{
    background: #8a6565;
}
/* ContactBox css end */

/* content css end */


/* footer css */
@keyframes Jiggle{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
footer {
    position: relative;
    width: 100%;
}

#Footer-Wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: #B59780;
}
.links-wrapper{
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer-link{
    color: black;
    text-decoration: none;
    position: relative;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-link:hover>.footer-link-icon{
    
    animation-name: Jiggle;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
.footer-link>div{
    padding: 0 5px;
}
.footer-link-icon>img{
    width: 30px;
}
hr{
    
    border-bottom: solid 1px black;
}
#Copyright{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
}


/* footer css end */




/* less than 768 px */
@media screen and (max-width:769px){
    /* header css */
    header {
        position: relative;
        width: 100%;
        height: 100px;
    }

    #Header-Wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
    }

    #Section-Left {
        position: relative;
        width: 100%;
        height: 100%;
        background: var(--mainColor);
        z-index: 12;
        clip-path: none;

    }

    /* Nav-Toggle animation code bundle */
    @keyframes NavToggleAnim-B1{
        0% {
            transform-origin: left;
            transform: rotate(0deg);
        }
        100% {
            transform-origin: left;
            transform: translateX(5px) rotate(45deg);
        }
    }
    @keyframes NavToggleAnim-B1-rev{
        0% {
            transform-origin: left;
            transform: translateX(5px) rotate(45deg);
        }
        100% {
            transform-origin: left;
            transform: rotate(0deg);
        }
    }

    @keyframes NavToggleAnim-B2{
        0% {transform: rotate(0deg);}
        100% {transform: translateX(5px) rotate(45deg);}
    }
    @keyframes NavToggleAnim-B2-rev{
        0% {transform: translateX(5px) rotate(45deg);}
        100% {transform: rotate(0deg);}
    }

    @keyframes NavToggleAnim-B3{
        0% {
            transform-origin: left;
            transform: rotate(0deg);
        }
        100% {
            transform-origin: left;
            transform: translateX(5px) rotate(-45deg) scale(1.2,1.5);
        }

    }
    @keyframes NavToggleAnim-B3-rev{
        0% {
            transform-origin: left;
            transform: translateX(5px) rotate(-45deg) scale(1.2,1.5);
        }
        100% {
            transform-origin: left;
            transform: rotate(0deg);
        }
    }
    /* end------------------------end*/

    #Nav-Toggle{
        display: inline-block;
        position: absolute;
        right: 0;
        width: 100px;
        height: 100px;
        background: none;
        color: red;
        border: none; 
        outline: none; 
        
    }
    .helper{
        display: none;
        position: absolute;
        right: 0;
        width: 100px;
        height: 100px;
        background: none;
        color: red;
        border: none;
        outline: none;
    }
    #Nav-Toggle>.bar{
        position: relative;
        margin: 12px auto;
        width: 40%;
        height: 3px;
        background: white;
        border-radius: 2px;
    }
    nav {
        position: absolute;
        top: 100px;
        width: 100%;
        height: 300px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate(0,-500px) rotate(0);
        background: #1E1711;
        opacity: 0.8;
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        z-index: -2;
    }
    #Nav-Toggle:focus{
        background-color: #314F56;
    }




    /* Nav-Toggle animations applied */
    #Nav-Toggle:focus .b1{
        animation: NavToggleAnim-B1;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    #Nav-Toggle:focus .b2{
        animation: NavToggleAnim-B2;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    #Nav-Toggle:focus .b3{
        animation: NavToggleAnim-B3;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    #Nav-Toggle:not(:focus) .b1{
        animation: NavToggleAnim-B1-rev;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    #Nav-Toggle:not(:focus) .b2{
        animation: NavToggleAnim-B2-rev;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    #Nav-Toggle:not(:focus) .b3{
        animation: NavToggleAnim-B3-rev;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    /* end----------------------end */







    #Nav-Toggle:focus ~ nav{
        display: flex;
        transform: translate(0,0px) rotate(0);
    }
    #Nav-Toggle:focus ~ .helper{
        display: inline-block;  
    }

    nav>.nav-element {
        margin: 12px 3vw;
        font-size: 120%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }

    #Section-Right {
        display: none;
        position: absolute;
        top: 0%;
        right: 0%;
        width: 100%;
        height: 230%;
        background: #314F56;
        overflow: visible;
        z-index: 11;
        clip-path: none;
    }
    .sigla-box{
        position: absolute;
        width: 20px;
        top: 40px;
        left: 30px;
        z-index: 99;
    }
    /* header css end */

    /* Home css */
#Home {
    position: relative;
    width: 100%;
    height: 42vw;

}

#Home-Pictures-Wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.picture-container{
    width: 50%;
}
.p-c1{
    top: 25%; left: 75%;
}
.p-c2{
    top: 2%; left: 45%;
}
.p-c2>img{
    border-bottom-right-radius: 50%;
}
.p-c3{
    width: 51%;
    top: 40%; left: 25%;
}
.p-c3>img{
    border-top-right-radius: 50%;
}


#Home-Design {  
    height: 50%;
    clip-path: none; 
}
/* Home css end*/





/* About css*/
#About{
    margin-top: 80px;
}
/* About css end*/



/* Portfolio css*/
#Portfolio-Cards-Wrapper {
    width: 100%;
}
.card {
    height: 440px;
}
/* Portfolio css end*/


/* Services css*/
#Services-Icons-Wrapper {  
    width: 100%;
}
.services-icon-box {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px;
    
}
/* Services css end*/


/* QuoteBox css*/
#QuoteBox-Wrapper {
    clip-path: none;
}
#QuoteText {
    width: 80%;
    top: 34%;
}
#QuoteAuthor {
    width: auto;
    height: auto;
    top: 75%;
    left: 82%;
    transform: translate(-50%, -50%);
    color: white;
}
/* QuoteBox css end*/


/* ContactBox css */

#ContactBox-Main>#Contact {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 20vw;
    max-height: 100px;
    background: #D89F9F;
    clip-path: none;
    color: var(--mainColor);
    
}

#ContactBox-Main>#Contact>div {
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    text-align: center;
}

#ContactBox-Secondary>#Email {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(0%, 0%);
    width: 60%;
    height: 30px;
    clip-path: none;
    
}

#ContactBox-Secondary>#Phone {
    top: 15%;
    right: 0;
    transform: translate(0%, 0%);
    width: 60%;
    height: 30px;

    clip-path: none;
}

#ContactBox-Secondary>#Form {
    top: 30%;
    right: 0;
    transform: translate(0%, 0%);
    width: 60%;
    height: 30px;

    clip-path: none;
}

/* ContactBox css end */



}   /* less than 768 px end*/





/* less than 550 px*/
@media screen and (max-width: 550px){
    #About{
        margin-top: 150px;
    }
    #Home-Pictures-Wrapper>.picture-container>img{
        border-radius: 0%;
    }
    .p-c1{
        top: 0%; left: 25%;
        width: 50%;
    }
    .p-c2{
        top: 0%; left: 75%;
        width: 50%;
    }
    .p-c3{
        top: 75%; left: 50%;
        width: 100%;
        height: 100%;
        max-height: 200px;
        overflow: hidden;
    }
    #ContactBox-Wrapper{
        flex-direction: column;
    }
    #ContactBox-Main{
        width: 50%;
    }
    
    #ContactBox-Main>#Contact {
        position: relative;
        bottom: 0px;
        width: 100%;
        height: 20vw;
        max-height: 100px;
        clip-path: none;  
    }
    
    #ContactBox-Main>#Contact>div {
        width: 100%;
        left: 0%;
        top: 0%;
        transform: translate(0%, 0%) rotate(0deg);
        text-align: center;
    }
    #ContactBox-Secondary{
        width: 100%;
        height: 100%;
    }
    #ContactBox-Secondary>#Email {
        position: absolute;
        top: 5%;
        right: 0%;
        transform: translate(0%, 0%);
        width: 60%;
        height: 30px;
        clip-path: none;   
    }
    
    #ContactBox-Secondary>#Phone {
        top: 20%;
        right: 0;
        transform: translate(0%, 0%);
        width: 60%;
        height: 30px;
    
        clip-path: none;
    }
    
    #ContactBox-Secondary>#Form {
        top: 35%;
        right: 0;
        transform: translate(0%, 0%);
        width: 60%;
        height: 30px;
    
        clip-path: none;
    }
    

}
/* less than 550 px end*/


