* {
    margin: 0%;
    padding: 0%;
    border: 0;
}

body {
    --mainColor: #1E1711;
}




/* header css */

header {
    position: relative;
    width: 100%;
    height: 100px;
}

#Header-Wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;

}

#Section-Left {
    position: relative;
    width: 100%;
    height: 90%;
    background: var(--mainColor);
    z-index: 12;
    clip-path: polygon(0 0, 80% 0, 75% 65%, 0 100%);

}

#Nav-Toggle{
    display: none;
}

nav {
    position: relative;
    width: 80%;
    height: 80%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-5%) rotate(-1.3deg);

}

nav>.nav-element {
    margin: 0 3vw;
    font-size: 120%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#Section-Right {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 230%;
    background: #314F56;
    overflow: visible;
    z-index: 11;
    clip-path: polygon(70% 10%, 100% 60%, 100% 67%, 70% 17%);
}

/* header css end */


/* content css */
/* general css (so I don't retype it to much) */
.titleText {
    font-family: 'Titillium Web', sans-serif;
    font-size: 200%;
    font-weight: bolder;
    color: var(--mainColor);
}

.descriptionText {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 105%;
    color: var(--mainColor);
}

/* general css (so I don't retype it to much) end*/





.content {
    position: relative;
    width: 100%;
    height: auto;

}

.content-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

/* Home css */
#Home {
    position: relative;
    width: 100%;
    height: 42vw;

}

#Home-Pictures-Wrapper {
    position: relative;
    top: 48%;
    left: 50%;
    width: 80%;
    height: 70%;
    z-index: 10;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-container {
    width: 32%;
    height: 100%;
    margin: -10px;
    background: #999999;
    transform: rotate(5deg);
    border: solid var(--mainColor) 2px;
    border-top: none;
    border-right: none;
}

#Home-Design {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #B59780;
    clip-path: polygon(0 0, 100% 90%, 100% 100%, 0 100%);
    z-index: 9;
}

/* Home css end*/

/* About css */
#About {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 36px;

}

#About-Wrapper {
    position: relative;
    width: 95%;
    height: auto;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.about-title {
    position: relative;
    margin: auto;
    border-bottom: #1E1711 2px solid;
}

#About-Text-Wrapper {
    position: relative;
    margin-top: 25px;
}

.about-text {
    position: relative;
    text-align: center;
}

/* About css end */


/* Portfolio css */
#Portfolio {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 72px;

}

#Portfolio-Wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

#Portfolio-Description-Wrapper {
    position: relative;
    width: 95%;
    height: auto;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio-title {
    position: relative;
    margin: auto;
    border-bottom: #1E1711 2px solid;
}

#Portfolio-Text-Wrapper {
    position: relative;
    margin-top: 25px;
}

.portfolio-text {
    position: relative;
    text-align: center;
}

#Portfolio-Cards-Wrapper {
    position: relative;
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 30%;
    height: 25vw;
    margin: 1%;
    border: solid var(--mainColor) 2px;
}

/* Portfolio css end */

/*  Services css*/
#Services {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 72px;

}

#Services-Wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

#Services-Description-Wrapper {
    position: relative;
    width: 95%;
    height: auto;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-title {
    position: relative;
    margin: auto;
    border-bottom: #1E1711 2px solid;
}

#Services-Text-Wrapper {
    position: relative;
    margin-top: 25px;
}

.services-text {
    position: relative;
    text-align: center;
}

#Services-Icons-Wrapper {
    position: relative;
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services-icon-box {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: solid 2px var(--mainColor);
}

/*  Services css end*/

/* QuotesBox css */
#QuoteBox {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 250px;
}

#QuoteBox-Wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--mainColor);
    margin: auto;
    clip-path: polygon(10% 10%, 90% 0, 85% 100%, 15% 85%);
}

#QuoteText {
    position: absolute;
    width: auto;
    height: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#QuoteAuthor {
    position: absolute;
    width: auto;
    height: auto;
    top: 75%;
    left: 76%;
    transform: translate(-50%, -50%);
    color: white;
}

/* QuotesBox css end */

/* ContactBox css */
#ContactBox {
    position: relative;
    width: 100%;
    margin: auto;
}

#ContactBox-Wrapper {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

#ContactBox-Main {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
}

#ContactBox-Main>#Contact {
    position: relative;
    bottom: 30px;
    width: 100%;
    height: 20vw;
    max-height: 200px;
    background: #D89F9F;
    clip-path: polygon(30.5% 0%, 80% 10%, 95% 45%, 70% 55%);
    color: var(--mainColor);
}

#ContactBox-Main>#Contact>div {
    position: absolute;
    left: 72%;
    top: 28%;
    transform: translate(-50%, -50%) rotate(3deg);
}

#ContactBox-Secondary {
    position: relative;
    width: 50%;
}

#ContactBox-Secondary>button {
    position: absolute;
}

#ContactBox-Secondary>#Email {
    top: 14%;
    left: 38%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: calc(2vh + 2vw);
    max-height: 50px;
    clip-path: polygon();
    background: #D89F9F;

    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 90%);
}

#ContactBox-Secondary>#Phone {
    top: 34%;
    left: 38%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: calc(2vh + 2vw);
    max-height: 50px;
    clip-path: polygon();
    background: #D89F9F;

    clip-path: polygon(0 20%, 100% 0%, 93% 100%, 0 90%);
}

#ContactBox-Secondary>#Form {
    top: 54%;
    left: 38%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: calc(2vh + 2vw);
    max-height: 50px;
    clip-path: polygon();
    background: #D89F9F;

    clip-path: polygon(0 0, 90% 25%, 70% 100%, 0 90%);
}

/* ContactBox css end */

/* content css end */


/* footer css */
footer {
    position: relative;
    width: 100%;
    height: 200px;
}

#Footer-Wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: #B59780;
}


/* footer css end */




/* less than 768 px */
@media screen and (max-width:769px){
    /* header css */
    header {
        position: relative;
        width: 100%;
        height: 100px;
    }

    #Header-Wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
    }

    #Section-Left {
        position: relative;
        width: 100%;
        height: 100%;
        background: var(--mainColor);
        z-index: 12;
        clip-path: none;

    }

    /* Nav-Toggle animation code bundle */
    @keyframes NavToggleAnim-B1{
        0% {
            transform-origin: left;
            transform: rotate(0deg);
        }
        100% {
            transform-origin: left;
            transform: translateX(5px) rotate(45deg);
        }
    }
    @keyframes NavToggleAnim-B1-rev{
        0% {
            transform-origin: left;
            transform: translateX(5px) rotate(45deg);
        }
        100% {
            transform-origin: left;
            transform: rotate(0deg);
        }
    }

    @keyframes NavToggleAnim-B2{
        0% {transform: rotate(0deg);}
        100% {transform: translateX(5px) rotate(45deg);}
    }
    @keyframes NavToggleAnim-B2-rev{
        0% {transform: translateX(5px) rotate(45deg);}
        100% {transform: rotate(0deg);}
    }

    @keyframes NavToggleAnim-B3{
        0% {
            transform-origin: left;
            transform: rotate(0deg);
        }
        100% {
            transform-origin: left;
            transform: translateX(5px) rotate(-45deg) scale(1.2,1.5);
        }

    }
    @keyframes NavToggleAnim-B3-rev{
        0% {
            transform-origin: left;
            transform: translateX(5px) rotate(-45deg) scale(1.2,1.5);
        }
        100% {
            transform-origin: left;
            transform: rotate(0deg);
        }
    }
    /* end------------------------end*/

    #Nav-Toggle{
        display: inline-block;
        position: absolute;
        right: 0;
        width: 100px;
        height: 100px;
        background: none;
        color: red;
        border: none; 
        outline: none; 
    }
    .helper{
        display: none;
        position: absolute;
        right: 0;
        width: 100px;
        height: 100px;
        background: none;
        color: red;
        border: none;
        outline: none;
    }
    #Nav-Toggle>.bar{
        position: relative;
        margin: 12px auto;
        width: 40%;
        height: 3px;
        background: white;
        border-radius: 2px;
    }
    nav {
        position: absolute;
        top: 100px;
        width: 100%;
        height: 300px;
        color: white;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(0) rotate(0);
        background: #1E1711;
        opacity: 0.8;
    }
    #Nav-Toggle:focus{
        background-color: #314F56;
    }




    /* Nav-Toggle animations applied */
    #Nav-Toggle:focus .b1{
        animation: NavToggleAnim-B1;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    #Nav-Toggle:focus .b2{
        animation: NavToggleAnim-B2;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    #Nav-Toggle:focus .b3{
        animation: NavToggleAnim-B3;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    #Nav-Toggle:not(:focus) .b1{
        animation: NavToggleAnim-B1-rev;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    #Nav-Toggle:not(:focus) .b2{
        animation: NavToggleAnim-B2-rev;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    #Nav-Toggle:not(:focus) .b3{
        animation: NavToggleAnim-B3-rev;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    /* end----------------------end */







    #Nav-Toggle:focus ~ nav{
        display: flex;
    }
    #Nav-Toggle:focus ~ .helper{
        display: inline-block;  
    }

    nav>.nav-element {
        margin: 12px 3vw;
        font-size: 120%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }

    #Section-Right {
        display: none;
        position: absolute;
        top: 0%;
        right: 0%;
        width: 100%;
        height: 230%;
        background: #314F56;
        overflow: visible;
        z-index: 11;
        clip-path: none;
    }
    /* header css end */

    /* Home css */
#Home {
    position: relative;
    width: 100%;
    height: 42vw;

}

#Home-Pictures-Wrapper {
    position: relative;
    top: 10%;
    left: 50%;
    width: 100%;
    height: auto;
    z-index: 10;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.picture-container {
    width: 300px;
    height: 40vw;
    min-height: 200px;
    margin: 0;
    background: #999999;
    transform: none;
    border: solid var(--mainColor) 2px;
    border-top: none;
    border-right: none;
}

#Home-Design {  
    height: 50%;
    clip-path: none; 
}
/* Home css end*/





/* About css*/
#About{
    margin-top: 80px;
}
/* About css end*/



/* Portfolio css*/
#Portfolio-Cards-Wrapper {
    width: 100%;
}
.card {
    position: relative;
    width: 40%;
    height: 40vw;
    margin: 2%; 
}
/* Portfolio css end*/



/* Services css*/
#Services-Icons-Wrapper {  
    width: 100%;
}
.services-icon-box {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 5px;
    border: solid 2px var(--mainColor);
}
/* Services css end*/


/* QuoteBox css*/
#QuoteBox-Wrapper {
    clip-path: none;
}
#QuoteText {
    width: 80%;
    top: 34%;
}
#QuoteAuthor {
    width: auto;
    height: auto;
    top: 75%;
    left: 82%;
    transform: translate(-50%, -50%);
    color: white;
}
/* QuoteBox css end*/





}   /* less than 768 px end*/





/* less than 425 px*/
@media screen and (max-width: 425px){
    #Home-Pictures-Wrapper {
        flex-wrap: wrap;
    }
    .picture-container {
        display: none;
    }
    .picture-container:first-child {
        display: initial;
        width: 100%;
        height: 55vw;
    }

}
/* less than 425 px end*/


